.emp-gallery-card-container .slider-wrapper {
        height: 19rem !important;
        border-radius: 0.5rem;
}
.emp-gallery-card-container .carousel .slider-wrapper.axis-horizontal .slider {
        height: 19rem !important;
    }
.emp-gallery-card-container .carousel .slide .legend {
        border-radius: 0rem !important;
        bottom: 0px !important;
        width: 100% !important;
        padding: 1rem !important;
        margin-left: -50% !important;
        height: fit-content;
        text-align: center;
        vertical-align: middle;
        opacity: 0.5 !important;
        transition: opacity .35s ease-in-out !important;
}

.emp-gallery-card-container .carousel .slide .legend:hover {
        opacity: 1 !important;
}