.birthdaycard-container{
    display: flex;
    flex-direction: column;
    height: 9rem;
    align-items: center;
}
.birthdaycard-container .slider-wrapper{
    height: 9rem !important;
}
.birthdaycard-container .birthday-card{
    
}
.birthday-card .birthday-card-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
}

.birthday-card .birthday-card-profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 0.7rem;
}

.birthday-card .birthday-card-photo{
    display: block;
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    overflow: hidden;
}
