.page-information-container{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-direction: column;
}
.page-header{
    font-size: calc(1.325rem + 0.9vw)!important;
    font-weight: 600!important;
    color: var(--cui-body-color);
    font-family:'Plus Jakarta Sans';
}
.createemployeegallery-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow : rgba(50,50,93,.02) 0 2px 5px -1px, rgba(0,0,0,.05) 0 1px 3px -1px;
    margin-top: 1.5rem;
}
.createemployeegallery-header{
    margin-left: 3rem;
    margin-top: 1rem;
}
.header-font{
    color: #18181B;
    font-size: 1.19rem;
    font-family: var(--cui-body-font-family);
}
.form-line{
    margin-top : 1rem;
}
.createemployeegalleryform{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    padding-bottom: 2rem;
}
.formrow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    gap:1rem
}
.createemployeegalleryforminput{
    width: 100%;
}
.img-upload{
    width: 10rem;
    height: 10rem;
}
@media screen and (max-width: 768px)  {
    .createemployeegalleryform{
        gap :0rem;
    }
 
    .formrow{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }
    
    .createemployeegalleryforminput{
        margin-top: 1.5rem;
    }
}