.sidebar-container{
    left: 0;
    top: 0;
    z-index: 3;
    height: 100vh;
    box-shadow: (50,50,93,.02) 0 2px 5px -1px, rgba(0,0,0,.05) 0 1px 3px -1px;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.top-sidebar{
   background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.top-sidebar .logo-top-sidebar{
    display: flex;
    gap: 0.8rem;
    margin-left: 1rem;
}
.top-sidebar .logo-top-sidebar img{
    width: 11rem;
    height: 6rem;
}
.top-sidebar .close-top-sidebar{
    display: none;
}

.nav-sidebar{ background-color: white;
    display: flex;
    flex-direction: column;
    width: 16rem;
    padding-right: 1rem;
    position: -webkit-sticky;
    height: 100vh;
    position: sticky;
    align-self: flex-start;
    padding-bottom: 2rem;
}
.nav-sidebar:hover{
    overflow-y: scroll!important;
}
.nav-sidebar .nav-text{
    display: flex;
    color:#527ed4;
    margin-left: 1rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    
}
.nav-sidebar .nav-link span {
    font-weight: 600;
    transition: all 300ms ease;

} 
.nav-font{
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--cui-body-font-family);
}
.nav-sidebar .active-nav-text::before{
    content: "";
    width: 6px;
    height: 100%;
    background-color:#527ed4 ;
}
.nav-link .nav-text{
    color:#527ed4;
}
.nav-link .active-nav-text span{
    background: rgba(0, 127, 255, 0.12);
    margin-left: calc(0rem - 2px);
}
.nav-link:hover{
    color: #527ed4;
}
.nav-link:hover span{
    margin-left: 1rem;
}
@media screen and (max-width: 768px) {
    .sidebar-container{
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem rgba(132, 139, 200, 0.18);
        height: 100vh;
        padding-right: 1.8rem;
        display: none;
    }
    .sidebar-container .top-sidebar .logo-top-sidebar
    {
        margin-left: 1rem;
    }
    .nav-sidebar .nav-text{
        width: 100%;
        height: 3.4rem;
    }
    .nav-sidebar .nav-link{
        display: inline;
    }
    .top-sidebar .close-top-sidebar{
        display: inline-block;
        cursor: pointer;
    }
    
}
@media screen and (min-width : 768px) {
    .sidebar-container-2{
        display: flex!important;
    }
}